@{
    ViewData["Title"] = "Welcome";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This task was made by <a href="https://www.adinjahic.com"> Adin Jahic </a> using ASP.NET Core MVC.</p>
    <p>Click on GetList</p>
</div>
